<head>
    <title>易背</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <script src="/js/radialindicator.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css" charset="utf-8"/>
</head>

<body style="background-color: #f7f7f7">
    <div id="head"></div>
    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-block">
                                <div class="indicatorContainerWrap" style="float: left;">
                                    <div class="rad-prg" id="indicatorContainer1"></div>
                                    <div class="rad-cntnt">
                                        完成度
                                        <br> <span id="home_rate1"></span>
                                    </div>
                                </div>
                                <h3 class="card-title" style="position: relative; top: 20px">四级单词</h3>
                                <p class="card-text" style="position: relative; top: 20px"><span id="home_level_4_total"></span>词
                                    <br><span id="home_level_4_info"></span></p>
                                <p style="position: relative; top: 20px">
                                    <button id="home_btn_1" class="btn btn-primary"><span id="home_btn_1_text">学习</span></button>
                                    <button id="home_set_btn_1" class="btn btn-primary" data-toggle="modal" data-target="#setNum">
                                        设置
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <div class="indicatorContainerWrap" style="float: left;">
                                    <div class="rad-prg" id="indicatorContainer2"></div>
                                    <div class="rad-cntnt">
                                        完成度
                                        <br> <span id="home_rate2"></span>
                                    </div>
                                </div>
                                <h3 class="card-title" style="position: relative; top: 20px">六级单词</h3>
                                <p class="card-text" style="position: relative; top: 20px"><span id="home_level_6_total"></span>词
                                    <br><span id="home_level_6_info"></span></p>
                                <p style="position: relative; top: 20px">
                                    <button id="home_btn_2" class="btn btn-primary"><span id="home_btn_2_text">学习</span></button>
                                    <button id="home_set_btn_2" class="btn btn-primary" data-toggle="modal" data-target="#setNum">
                                        设置
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-block">
                                <div class="indicatorContainerWrap" style="float: left;">
                                    <div class="rad-prg" id="indicatorContainer3"></div>
                                    <div class="rad-cntnt">
                                        完成度
                                        <br> <span id="home_rate3"></span>
                                    </div>
                                </div>
                                <h3 class="card-title" style="position: relative; top: 20px">托福单词</h3>
                                <p class="card-text" style="position: relative; top: 20px"><span id="home_toefl_total"></span>词
                                    <br><span id="home_toefl_info"></span></p>
                                <p style="position: relative; top: 20px">
                                    <button id="home_btn_3" class="btn btn-primary"><span id="home_btn_3_text">学习</span></button>
                                    <button id="home_set_btn_3" class="btn btn-primary" data-toggle="modal" data-target="#setNum">
                                        设置
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <div class="indicatorContainerWrap" style="float: left;">
                                    <div class="rad-prg" id="indicatorContainer4"></div>
                                    <div class="rad-cntnt">
                                        完成度
                                        <br> <span id="home_rate4"></span>
                                    </div>
                                </div>
                                <h3 class="card-title" style="position: relative; top: 20px">雅思单词</h3>
                                <p class="card-text" style="position: relative; top: 20px"><span id="home_IELTS_total"></span>词
                                    <br><span id="home_IELTS_info"></span></p>
                                <p style="position: relative; top: 20px">
                                    <button id="home_btn_4" class="btn btn-primary"><span id="home_btn_4_text">学习</span></button>
                                    <button id="home_set_btn_4" class="btn btn-primary" data-toggle="modal" data-target="#setNum">
                                        设置
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>


    <div class="modal fade" id="setNum" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        修改任务量
                    </h4>
                </div>
                <div class="modal-body">
                    每天新学习<input type="text" id='home_learn'></input>个词。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button id='home_btn_learn_1' class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                    <button id='home_btn_learn_2' class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                    <button id='home_btn_learn_3' class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                    <button id='home_btn_learn_4' class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>