<head>
    <title>易背练习</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/quest.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css" charset="utf-8"/>
</head>

<body style="background-color: #f7f7f7">
    <div id="head"></div>
    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-3">
                        今日已学习：<span id="record_remain"></span>
                    </div>
                    <div class="col-md-3">
                        今日目标：<span id="record_learned"></span>
                    </div>
                    <div class="col-md-3">
                        今日已复习：<span id="record_reviewed"></span>
                    </div>
                    <div class="col-md-3">
                        复习目标：<span id="record_reviewed_target"></span>
                    </div>
                </div>
                <br>
                <div class="card" align="center">

                    <br>
                        <h1 id="quest_word"></h1>
                    <br>

                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10 text-center">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td height="100px" style="vertical-align: middle !important;text-align: center;">
                                    <p id="quest_btn_0"></p>
                                </td>
                            </tr>
                            <tr>
                                <td height="100px" style="vertical-align: middle !important;text-align: center;">
                                    <p id="quest_btn_1"></p>
                                </td>
                            </tr>
                            <tr>
                                <td height="100px" style="vertical-align: middle !important;text-align: center;">
                                    <p id="quest_btn_2"></p>
                                </td>
                            </tr>
                            <tr>
                                <td height="100px" style="vertical-align: middle !important;text-align: center;">
                                    <p id="quest_btn_3"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>