<head>
    <title>注册易背</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sign_up.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css" charset="utf-8"/>
</head>

<body>
    <div class="container" style="position: relative; top: 15%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10 text-center">
                        <div class="card" align="center" style="height: 550px">
                            <div class="card-body">
                                <br>
                                <h1 class="text-primary display-2">易背</h1>
                                <br>
                                <h3 class="text-secondary">
                                    <small>注册易背，轻松背单词</small>
                                </h3>
                                <br>
                                <form id="a">
                                    <input type="text" class="form-control input_border" placeholder="请输入用户名" maxlength="12" name="id">
                                    <br>
                                    <input type="password" class="form-control input_border" placeholder="请输入密码" maxlength="16" name="password">
                                    <br>
                                    <input type="text" class="form-control input_border" placeholder="请输入邮箱" name="email">
                                </form>
                                <br>
                                <button id="c" class="btn btn-primary">注册</button>
                            </div>
                            <div class="card-footer">
                                已有账号？
                                <a class="text-primary" href="./sign_in">登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    请前往邮箱查看验证邮件。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="d">返回登录</button>
                </div>

            </div>
        </div>
    </div>

    <p></p>
</body>