<head>
    <title>登录易背</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sign_welcome.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css" charset="utf-8"/>
</head>

<body>
    <div class="container" style="position: relative; top: 15%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10 text-center">

                        <div class="card" align="center" style="height: 400px">
                            <div class="card-body">
                                <h1 class="text-primary display-2">易背</h1>
                                <br>
                                <h3 class="text-secondary">
                                    <small>登录易背，轻松背单词</small>
                                </h3>
                                <br>
                                <form>
                                    <h3 class="text-info">
                                        <small>欢迎你<br><br>你现在可以直接进行登陆</small>
                                    </h3>
                                </form>
                                <br>
                                <button id="b" class="btn btn-primary">登录</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>