<head>
    <title>易背单词本</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/wordbook.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css" charset="utf-8"/>
</head>

<body style="background-color: #f7f7f7">
    <div id="head"></div>

    <div class="container" style="position: relative; top: 10%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <div class="card" style="">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6 text-center">
                            <h4 class="card-body">
                                单词本
                            </h4>
                        </div>
                        <div class="col-3 text-right">
                            <h4 id="word_add_button" class="card-body" style="color: gray"  data-toggle="modal" data-target="#word_add">
                                <span style="cursor: pointer"> + </span>
                            </h4>
                        </div>

                    </div>
                    <div class="row" style="overflow: auto">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10 text-center">
                            <div class="table-responsive">
                                <table class="table" style="position: relative; top: 10px">
                                    <tbody id="show_table">
                                        <tr>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="word_add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        添加新的词
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="a">
                        请输入单词：<input type="text" name='word_add_word'><br><br>
                        请输入释义：<input type="text" name='word_add_translation'>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button id='word_add_confirm' class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="word_set_model" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        修改单词释义
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="b">
                        修改释义：<input type="text" name='word_set_translation'>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button id='word_set_confirm' class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>


</body>