
.indicatorContainerWrap {
    position: relative;
    display: inline-block;
}

.rad-cntnt {
    position: absolute;
    display: table;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 24px;
}

.center-vertical {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.hover-img img:hover {
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}

.change::-webkit-input-placeholder {
    color: red;
}

.change::-moz-placeholder {
    color: red;
}

.change::-ms-input-placeholder {
    color: red;
}